---
import Bento from "@/components/Bento.astro";
import Footer from "@/components/Footer.astro";
import Intro from "@/components/Intro.astro";
import Layout from "@/layouts/Layout.astro";
import PreFooter from "@/components/PreFooter.astro";
import Video from "@/components/Video.astro";
---

<Layout
  title="Premios Esland 2024"
  description="Descubre a los mejores creadores de contenidos"
>
  <!-- Como el video esta arrriba, lo ponemos fuera del main -->
  <Video />

  <main>
    <Intro />
    <Bento />
    <PreFooter />
    <Footer />
  </main>
</Layout>

<style></style>
