<div class="w-full relative object-cover object-top j">

<img src="/esland.webp" class="absolute z-10 mx-auto left-0 right-0 top-10 w-[800px]">
  <video
    src="/video.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0 , 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
    "
  ></video>  
  <video
    src="/video.mp4"
    autoplay
    loop
    muted
    class="rotate-180 absolute blur-2xl "
  ></video>
</div>
